@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.body {
    display: flex;
    flex-direction: column;
    gap: 15pt;
    height: auto;
    margin-left: 80pt;
    margin-right: 80pt;
}

.HomepageCards{
    display: flex;
    gap: 30pt;
    justify-content: center;
    padding-bottom: 10pt;
    border-bottom: 1px solid rgb(209, 209, 209);
}

.card {
    display: flex;
    flex-direction: column;   
    gap: 5pt;
    width: 220pt;
    background-color: rgb(235, 235, 235);
}

.productimage {
    width: auto;
    height: 180pt;
}

.favbtn {
    position: absolute;
    border: none;
    background: none;
    width: 20pt;
}
.favimg {
    width: 20pt;
}

.productTitle {
    font-size: 10pt;
    margin-left: 5pt;
}

.categorylabel {
    margin-top: auto;
}

.cat {
    margin-left: 5pt;
    background-color: rgb(212, 212, 212);
    font-size: 10pt
}

.cardfoot {
    display: flex;
    gap: 5pt;
    margin-left: 5pt;
    padding-bottom: 5pt;
}

.btn {
    border: none;
    border-radius: 5px;
    background-color: rgb(201, 201, 201);
    margin-top: auto;
}

.buy {
    width: 50pt;
    height: 20pt;
    font-size: 10pt;
}

.cart {
    width: 20pt;
    height: 20pt;
}

.cartImg {
    width: 15pt;
}

.price {
    margin-left: auto;
    margin-right: 5pt;
    font-size: 10pt;
}

.oldPrice {
    text-decoration: line-through;
    color: rgb(82, 82, 82);
}

.newPrice {
    color: rgb(145, 1, 1);
}

.SecondBanner{
    padding-bottom: 15pt;
    border-bottom: 1px solid rgb(209, 209, 209);
}
.SecondBannerImage{
    width: 100%;
    height: 200pt;
}

/* Categoriess */
.browseCat{
    display: flex;
    justify-content: center;
    gap: 5vw;
    margin-bottom: 20pt;
    border-bottom: 1px solid rgb(209, 209, 209);
}
.browsecatCard{
    width: 250pt;
    height: 270pt;
}
.catCard1{
    background-image: url(/Images/Cat-img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
}
.catheading{
    background-color: rgba(219, 219, 219,0.8);
    font-size: larger;
}