@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

.NavContainer {
    width: 100%;
    height: auto;
}

.nav {
    position: fixed;
    width: 100%;
    max-height: 136px;
    background-color: rgba(230, 230, 230,0.6);

    z-index: 1;
}

.title {
    margin-left: 1em;
    margin-top: 5px;
    font-family: 'Roboto Mono', monospace;
    font-size: 3vh;
    z-index: 1;
}
.logo{
    width: 3em;
}
.banner {
    width: 100%;
    max-height: 520px;
    z-index: -1;
}

.address-bar {
    display: flex;
    position: absolute;
    gap: 62px;
    top: 10px;
    left: 15vw;
}

#navButton {
    width: fit-content;
    height: 3vh;
    font-size: 1rem ;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    letter-spacing: 0.5ex;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.address-left {
    display: flex;
    position: absolute;
    gap: 62px;
    top: 10px;
    right: 4vw;
}